.switch-h {
  height: 0.2rem;
}

.action-btn {
  width: 3.5rem;
  height: 3.5rem;
  background: transparent;
  border: 2px solid #d3d3d3;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  box-shadow: inset 0 5px 8px -4px #d3d3d3, inset 0 -5px 8px -4px #d3d3d3,
    inset 2px 0 8px -4px #d3d3d3, inset -2px 0 8px -4px #d3d3d3;
  cursor: pointer;
  transition: all 0.2s ease;
}

.action-btn:hover {
  box-shadow: inset 0 0 10px #d3d3d3;
}
